//fonts
.font-heading {
  font-family: $heading;
}
.font-paragraph {
  font-family: $paragraph;
}
.font-link {
  font-family: $link;
}

//colors
.color-primary {
  color: $primary;
}
.color-secondary {
  color: $secondary;
}
.background-primary {
  background-color: $primary;
}
.background-secondary {
  background-color: $secondary;
}

//styles

.upperstroke:before {
  content: "_";
  font-weight: bold;
  display: block;
}

//negative margin for full screen

.-mt-screen {
  margin-top: -100vh;
}

.cursor-testimonials {
  cursor: url("../img/cursor.svg"), auto;
}

//font-size
.bg-size-20 {
  background-size: 20rem !important;
}

//flex
.flex-custom-courses {
  @media screen and (min-width: 1024px) {
    flex: 1 0 21%;
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    flex: 1 0 41%;
  }
  @media screen and (max-width: 767px) {
    flex: 1 0 91%;
  }
}

//height
.h-half {
  height: 50%;
}
