//fonts
.font-heading{
    font-family: $heading;
}
.font-paragraph{
    font-family: $paragraph;
}
.font-link{
    font-family: $link;
}

//colors
.color-primary{
    color: $primary;
}
.color-secondary{
    color: $secondary;
}
.background-primary{
    background-color: $primary;
}
.background-secondary{
    background-color: $secondary;
}


