.swiper-container {
  width: auto;
  height: auto;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  width: 50%;
}
.swiper-pagination-bullet {
  border-radius: 0;
  height: 2px;
  width: 50px;
}
.swiper-pagination-bullet-active {
  background-color: $primary;
}
