#testimonials_teachers > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  width: 60%;
}
.swiper-pagination-bullet {
  border-radius: 0;
  height: 2px;
  width: 50px;
}
.swiper-pagination-bullet-active {
  background-color: $primary;
}

.swiper-container-horizontal > .swiper-pagination-progressbar,
.swiper-container-vertical
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  bottom: 0 !important;
  top: unset !important;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  bottom: 0 !important;
  top: unset !important;
  background: $primary;
}
