.bg-hero {
  background: url("../img/hero.jpg");
}
.bg-icon-dark {
  background: url("../img/bgIconDark.png");
}
.bg-icon {
  background: url("../img/bgIcon.png");
}

.upperstroke:before {
  content: "_";
  font-weight: bold;
  display: block;
}
