.bg-hero {
  @media screen and (min-width: 769px) {
    background: url("../img/background_desktop.jpg");
  }
  @media screen and (max-width: 768px) {
    background: url("../img/background_ipad.jpg");
  }
  @media screen and (max-width: 640px) {
    background: url("../img/background_iphone.jpg");
  }
}
.bg-icon-dark {
  background: url("../img/bgIconDark.png");
}
.bg-icon {
  background: url("../img/bgIcon.png");
}
